<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>初期画面</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            background-color: #f0f0f0b3;
        }
        h1 {
            color: #1c8f0f;
        }
        p {
            color: #666;
        }
    </style>
</head>
<body>
    <h1>KichenKeeper</h1>
    <p>このページはあなたのWebアプリの初期画面です。</p>
    <form th:action="@{/albums/list}" method="get">
                <button type="submit">食材管理</button>
    </form>
</body>
</html>